<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viva.azkar">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="صلى على النبى "
        android:roundIcon="@drawable/icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AzkarIncrementServise"
            android:exported="false" />
        <service
            android:name=".AzkerReminderFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service android:name=".StartupService" android:label="My service ">
            <intent-filter >
                <action  android:name="com.azkar.StartupService" />
            </intent-filter>
        </service>

        <receiver android:name=".Startupreciever" android:label="Startupreciever" >
        <intent-filter >
            <action android:name= "android.intent.action.Boot_completed" />
        </intent-filter>
        </receiver>

        <activity android:name=".Setting" />
        <activity android:name=".about"></activity>
    </application>

</manifest>